<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="app.mtool.mtoolmobile.BIND_SERVICE" />
    <uses-permission android:name="app.mtool.permission.READ_FILES" />
    <uses-permission android:name="app.mtool.permission.WRITE_FILES" />
    <!-- 停止服务广播权限 - 需要签名保护 -->
    <permission
        android:name="app.mtool.permission.STOP_UI"
        android:description="@string/app_name"
        android:protectionLevel="signature" />
    <uses-permission android:name="app.mtool.permission.STOP_SERVICE" />

    <!-- Access to external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />

    <!-- Access to internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Access to vibrator -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <!-- 指定同签名的兄弟 App -->
        <package android:name="app.mtool.mtoolmobile" />
    </queries>

    <!-- Android TV support -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Game controller support -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <!-- External mouse input events (disable input emulation on ChromeOS) -->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <!-- OpenGL ES 2.0 support -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="app.mtool.mtoolmobile.mkxpz.AboutActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main activity -->
        <activity
            android:name="app.mtool.mtoolmobile.mkxpz.MKXPZActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|density|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:immersive="true"
            android:launchMode="singleTop"
            android:preferMinimalPostProcessing="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <!-- Let Android know that we can handle some USB devices and should receive this event -->
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- mkxp-z Activity metadata -->
            <meta-data
                android:name="mkxp_debug"
                android:value="false" />

            <!-- Samsung DeX multiwindow stuff -->
            <meta-data
                android:name="com.samsung.android.keepalive.density"
                android:value="true" />
            <meta-data
                android:name="com.samsung.android.multidisplay.keep_process_alive"
                android:value="true" />
        </activity>

    </application>
</manifest>

